DatabaseManager/Connected Services/CoreService/CoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Model.Tag" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Model.Alarm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IUserService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogInputResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Registration" message="tns:IUserService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RegistrationResponse" message="tns:IUserService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Logout" message="tns:IUserService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LogoutResponse" message="tns:IUserService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITagService">
    <wsdl:operation name="AddAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddAnalogInput" message="tns:ITagService_AddAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddAnalogInputResponse" message="tns:ITagService_AddAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogInput" message="tns:ITagService_DeleteAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogInputResponse" message="tns:ITagService_DeleteAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAnalogInput" message="tns:ITagService_GetAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAnalogInputResponse" message="tns:ITagService_GetAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogInput" message="tns:ITagService_UpdateAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogInputResponse" message="tns:ITagService_UpdateAnalogInput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IUserService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITagService" type="tns:ITagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/UpdateAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:50508/CoreService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITagService" binding="tns:BasicHttpBinding_ITagService">
      <soap:address location="http://localhost:50508/CoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>