DatabaseManager/Connected Services/CoreService/CoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Model.Tag" />
      <xsd:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IUserService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogInput_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllAnalogInputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalogInputs" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllAnalogInputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalogInputsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddAnalogOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteAnalogOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnalogOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAnalogOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateAnalogOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnalogOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllAnalogOutputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalogOutputs" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllAnalogOutputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAnalogOutputsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddDigitalInput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddDigitalInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteDigitalInput_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDigitalInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteDigitalInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDigitalInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetDigitalInput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetDigitalInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateDigitalInput_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDigitalInput" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateDigitalInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDigitalInputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllDigitalInputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDigitalInputs" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllDigitalInputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDigitalInputsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddDigitalOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddDigitalOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteDigitalOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDigitalOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteDigitalOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDigitalOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetDigitalOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetDigitalOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateDigitalOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDigitalOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_UpdateDigitalOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDigitalOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllDigitalOutputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDigitalOutputs" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllDigitalOutputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDigitalOutputsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Registration" message="tns:IUserService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RegistrationResponse" message="tns:IUserService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Logout" message="tns:IUserService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LogoutResponse" message="tns:IUserService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITagService">
    <wsdl:operation name="AddAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddAnalogInput" message="tns:ITagService_AddAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddAnalogInputResponse" message="tns:ITagService_AddAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogInput" message="tns:ITagService_DeleteAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogInputResponse" message="tns:ITagService_DeleteAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAnalogInput" message="tns:ITagService_GetAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAnalogInputResponse" message="tns:ITagService_GetAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogInput" message="tns:ITagService_UpdateAnalogInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogInputResponse" message="tns:ITagService_UpdateAnalogInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalogInputs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllAnalogInputs" message="tns:ITagService_GetAllAnalogInputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllAnalogInputsResponse" message="tns:ITagService_GetAllAnalogInputs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddAnalogOutput" message="tns:ITagService_AddAnalogOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddAnalogOutputResponse" message="tns:ITagService_AddAnalogOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogOutput" message="tns:ITagService_DeleteAnalogOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteAnalogOutputResponse" message="tns:ITagService_DeleteAnalogOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalogOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAnalogOutput" message="tns:ITagService_GetAnalogOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAnalogOutputResponse" message="tns:ITagService_GetAnalogOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogOutput" message="tns:ITagService_UpdateAnalogOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UpdateAnalogOutputResponse" message="tns:ITagService_UpdateAnalogOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalogOutputs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllAnalogOutputs" message="tns:ITagService_GetAllAnalogOutputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllAnalogOutputsResponse" message="tns:ITagService_GetAllAnalogOutputs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddDigitalInput" message="tns:ITagService_AddDigitalInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddDigitalInputResponse" message="tns:ITagService_AddDigitalInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDigitalInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteDigitalInput" message="tns:ITagService_DeleteDigitalInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteDigitalInputResponse" message="tns:ITagService_DeleteDigitalInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitalInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetDigitalInput" message="tns:ITagService_GetDigitalInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetDigitalInputResponse" message="tns:ITagService_GetDigitalInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitalInput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UpdateDigitalInput" message="tns:ITagService_UpdateDigitalInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UpdateDigitalInputResponse" message="tns:ITagService_UpdateDigitalInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDigitalInputs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllDigitalInputs" message="tns:ITagService_GetAllDigitalInputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllDigitalInputsResponse" message="tns:ITagService_GetAllDigitalInputs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddDigitalOutput" message="tns:ITagService_AddDigitalOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddDigitalOutputResponse" message="tns:ITagService_AddDigitalOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDigitalOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteDigitalOutput" message="tns:ITagService_DeleteDigitalOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteDigitalOutputResponse" message="tns:ITagService_DeleteDigitalOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitalOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetDigitalOutput" message="tns:ITagService_GetDigitalOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetDigitalOutputResponse" message="tns:ITagService_GetDigitalOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitalOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/UpdateDigitalOutput" message="tns:ITagService_UpdateDigitalOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/UpdateDigitalOutputResponse" message="tns:ITagService_UpdateDigitalOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDigitalOutputs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllDigitalOutputs" message="tns:ITagService_GetAllDigitalOutputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllDigitalOutputsResponse" message="tns:ITagService_GetAllDigitalOutputs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IUserService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITagService" type="tns:ITagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/UpdateAnalogInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalogInputs">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllAnalogInputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddAnalogOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnalogOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteAnalogOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalogOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAnalogOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnalogOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/UpdateAnalogOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAnalogOutputs">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllAnalogOutputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddDigitalInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDigitalInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteDigitalInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetDigitalInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitalInput">
      <soap:operation soapAction="http://tempuri.org/ITagService/UpdateDigitalInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDigitalInputs">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllDigitalInputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddDigitalOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDigitalOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteDigitalOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetDigitalOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDigitalOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/UpdateDigitalOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDigitalOutputs">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllDigitalOutputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:50508/CoreService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITagService" binding="tns:BasicHttpBinding_ITagService">
      <soap:address location="http://localhost:50508/CoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>