DatabaseManager/Connected Services/CoreService/CoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Threshold" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:complexType name="AlarmTrigger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagValue" type="xs:double" />
      <xs:element minOccurs="0" name="Threshold" type="xs:double" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmTrigger" nillable="true" type="tns:AlarmTrigger" />
  <xs:complexType name="ArrayOfAlarmTrigger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmTrigger" nillable="true" type="tns:AlarmTrigger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmTrigger" nillable="true" type="tns:ArrayOfAlarmTrigger" />
  <xs:complexType name="RTUAdress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RTUAdress" nillable="true" type="tns:RTUAdress" />
  <xs:complexType name="ArrayOfRTUAdress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RTUAdress" nillable="true" type="tns:RTUAdress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRTUAdress" nillable="true" type="tns:ArrayOfRTUAdress" />
</xs:schema>