AlarmDisplay/Connected Services/CoreService/CoreService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Model.Tag" />
  <xs:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Model" />
  <xs:import schemaLocation="http://localhost:50508/CoreService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Core.Service" />
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Model.Tag" minOccurs="0" name="analogInput" nillable="true" type="q1:AnalogInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogInputResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnalogInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnalogInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnalogInputResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Model.Tag" minOccurs="0" name="GetAnalogInputResult" nillable="true" type="q2:AnalogInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnalogInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Model.Tag" minOccurs="0" name="analogInput" nillable="true" type="q3:AnalogInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnalogInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Model.Tag" minOccurs="0" name="UpdateAnalogInputResult" nillable="true" type="q4:AnalogInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="alarm" nillable="true" type="q5:AlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="alarm" nillable="true" type="q6:AlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAlarmByIdResult" nillable="true" type="q7:AlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q8:ArrayOfAlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="alarm" nillable="true" type="q9:AlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Core.Service" minOccurs="0" name="sortOption" type="q10:AlarmService.SortOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAlarmsInPeriodResult" nillable="true" type="q11:ArrayOfAlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAlarmsByPriorityResult" nillable="true" type="q12:ArrayOfAlarmTrigger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmTriggered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>